@use '../variables';

.header {
    height: 50px;
    width: 100vw;
    background-color: variables.$scanner-secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        transform: translateX(30px);
    }
}