body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

.header {
    height: 50px;
    width: 100vw;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        transform: translateX(30px);
    }
}

.main {
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open sans', sans-serif;

    &__title {
        margin-top: 54px;
        margin-bottom: 55px;
        font-size: 23px;
        color: #172F49;
        text-align: center;
    }

    &__content {
        box-sizing: border-box;
        height: calc(100vh - 243px);
        min-height: 330px;
    }

    &__inbound_scan, &__outbound_scan {
        width: 237px;
        height: 69px;
        margin: auto;
        box-sizing: border-box;
        color: #FFF;
        display: flex;
        align-items: center;
        padding: 15px 25px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 35px;
        border-style: none;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.16);
    }   

    &__inbound_scan:hover, &__outbound_scan:hover {
        cursor: pointer;
    }

    &__inbound_scan {
        background-color: #00A0D4;

        &__icon {
            width: 29px;
            height: 35px;
            margin-right: 14px;
        }
    }


    &__outbound_scan {
        background-color: #172F49;
        margin-top: 150px;
        
        &__icon {
            width: 36px;
            height: 35px;
            margin-right: .5em;
        }
    }
}

.nav {
    height: 61px;
    width: 100vw;
    display: flex;
    background-color: #FFF;
    padding-left: 40px;
    padding-right: 22px;
    box-sizing: border-box;

    & > * {
        width: 50%;
        display: flex;
        align-items: center;
    }

    &__left_icon {
        justify-content: flex-start;
    }

    &__right_icon {
        justify-content: flex-end;
    }
}
