body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

.header {
    height: 50px;
    width: 100vw;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        
    }
}

.main {
    width: 375px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open sans', sans-serif;

    &__title {
        margin-top: 54px;
        font-size: 23px;
        color: #172F49;
        text-align: center;
    }

    &__content {
        box-sizing: border-box;
        height: calc(100vh - 188px);
        min-height: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__inbound_scan, &__outbound_scan {
        width: 237px;
        height: 69px;
        box-sizing: border-box;
        color: #FFF;
        display: flex;
        align-items: center;
        padding: 1.2em;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 35px;
        border-style: none;
    }   

    &__inbound_scan:hover, &__outbound_scan:hover {
        cursor: pointer;
    }

    &__inbound_scan {
        background-color: #00A0D4;

        &__icon {
            width: 29px;
            height: 35px;
            margin-right: .7em;
        }
    }


    &__outbound_scan {
        background-color: #172F49;
        
        &__icon {
            width: 36px;
            height: 35px;
            margin-right: .5em;
        }
    }
}

.nav {
    height: 61px;
    width: 100vw;
    display: flex;
    background-color: #FFF;
    padding: 0 22px;
    box-sizing: border-box;

    & > * {
        width: 50%;
        display: flex;
        align-items: center;
    }

    &__left_icon {

    }

    &__right_icon {
        justify-content: flex-end;
    }
}
