@use 'partials/header';
@use 'partials/nav';


$scanner-dominant-color: #00A0D4;
$scanner-secondary-color: #FFF;
$scanner-accent-color: #8BBD3A;

body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

.main {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open sans', sans-serif;
    height: calc(100vh - 111px);

    &__title {
        padding-top: 54px;
        padding-bottom: 55px;
        font-size: 23px;
        color: #172F49;
        text-align: center;
    }

    &__content {
        box-sizing: border-box;
        min-height: 330px;
    }

    &__inbound_scan, &__outbound_scan {
        width: 237px;
        height: 69px;
        margin: auto;
        box-sizing: border-box;
        color: $scanner-secondary-color;
        display: flex;
        align-items: center;
        padding: 15px 25px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 35px;
        border-style: none;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.16);
    }   

    &__inbound_scan:hover, &__outbound_scan:hover {
        cursor: pointer;
    }

    &__inbound_scan {
        background-color: $scanner-dominant-color;

        &__icon {
            width: 29px;
            height: 35px;
            margin-right: 14px;
        }
    }


    &__outbound_scan {
        background-color: #172F49;
        margin-top: 150px;
        
        &__icon {
            width: 36px;
            height: 35px;
            margin-right: .5em;
        }
    }
}

.scanner {
    @extend .main;
    background-color: $scanner-dominant-color;
    color: $scanner-secondary-color;
    overflow: auto;

    &__wrapper {
        width: 329px;
        margin: auto;
    }

    &__title {
        margin-top: 28px;
        text-align: center;
        font-size: 23px;
        font-family: 'Open sans', sans-serif;
        font-weight: 700;
    }

    &__qr, &__barcode { 
        margin: auto;
        text-align: center;
        font-size: 23px;
        font-weight: 400;
        text-transform: none;
    }

    &__qr {
        margin-top: 43px;
        text-transform: uppercase;

        &__info {
            width: 100%;
            border: 1px solid $scanner-secondary-color;
            margin: auto;
            margin-top: 40px;
            position: relative;
            font-size: 20px;
            padding: 20px;
            box-sizing: border-box;
        }

        &__title {
            position: absolute;
            left: 9px;
            top: -1px;
            line-height: 1px;
            padding: 0 10px;
            background-color: $scanner-dominant-color;
        }

        &__data {
            display: flex;
            flex-direction: column;
        }

        &__row {
            display: flex;
            margin-top: 7px;
        }

        &__label {
            text-transform: none;
        }

        &__label::after {
            content: '';
            margin-right: 2px;
        }

        &__details {
            font-weight: 700;;
        }
    }

    &__barcode {
        margin-top: 49px;
        width: 100%;

        &__title {
            font-weight: 400;
        }

        &__caption {
            margin-top: 146px;
            color: rgba(255, 255, 255, 0.35);   
        }

        &__input {
            width: 100%;
            padding: 2px 13px;
            box-sizing: border-box;
            margin-top: 26px;
            border: 2px solid $scanner-secondary-color;
            background-color: transparent;
            font-family: 'Open sans';
            font-size: 35px;
            font-weight: 700;
            color: #FFF;
            text-align: right;;
        }

        &__save_btn {
            display: block;
            width: 100%;
            box-sizing: border-box;
            border-radius: 51px;
            border-style: none;
            font-size: 57px;
            font-family: 'Open sans', sans-serif;
            font-weight: 700;
            color: $scanner-secondary-color;
            background-color: $scanner-accent-color;
            margin-top: 50px;
            padding: 12px 0;
            position: relative;
        }

        &__save_btn:hover {
            cursor: pointer;
        }

        &__save_btn::after {
            content: '';
            border-radius: 58px;
            box-sizing: border-box;
            display: block;
            position: absolute;
            top: -11px;
            left: -11px;
            width: 106.3%;
            height: 120.5%;
            border: 5px solid $scanner-accent-color;
        }

        .disabled {
            opacity: .31;
        }
    }
    
}

a {
    text-decoration: none;
}