@use '../variables';

.qr, .barcode { 
    margin: auto;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    text-transform: none;
    color: variables.$scanner-secondary-color
}

.qr {
    margin-top: 30px;
    text-transform: uppercase;

    &__caption {
        text-transform: none;
    }

    &__info {
        width: 100%;
        border: 1px solid variables.$scanner-secondary-color;
        margin: auto;
        position: relative;
        font-size: 20px;
        padding: 18px;
        box-sizing: border-box;
        margin-top: 44px;
    }

    &__title {
        position: absolute;
        left: 9px;
        top: -1px;
        line-height: 1px;
        padding: 0 10px;
        background-color: variables.$scanner-dominant-color;
    }

    &__data {
        display: flex;
        flex-direction: column;
    }

    &__row {
        display: flex;
        margin-top: 7px;
    }

    &__label {
        text-transform: none;
    }

    &__label::after {
        content: ':';
        margin-right: 2px;
    }

    &__details {
        font-weight: 700;
    }
}

.barcode {
    margin-top: 49px;
    width: 100%;

    &__caption {
        margin-top: 146px;
        color: rgba(255, 255, 255, 0.35);   
    }
}