@use '../variables';

.barcode {

    &__input {
        width: 100%;
        padding: 2px 13px;
        box-sizing: border-box;
        margin-top: 26px;
        border: 2px solid variables.$scanner-secondary-color;
        background-color: transparent;
        font-family: 'Open Sans', sans-serif;
        font-size: 35px;
        font-weight: 700;
        color: variables.$scanner-secondary-color;
        text-align: right;
    }

    /* Hiding arrows in the input[type="number"] field */

    &__input::-webkit-outer-spin-button,
    &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    &__input[type=number] {
    -moz-appearance: textfield;
    }

    &__save_btn {
        display: block;
        width: 100%;
        box-sizing: border-box;
        border-radius: 51px;
        border-style: none;
        font-size: 57px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: variables.$scanner-secondary-color;
        background-color: variables.$scanner-accent-color;
        margin-top: 50px;
        padding: 12px 0;
        position: relative;
    }

    &__save_btn:hover {
        cursor: pointer;
    }

    &__save_btn::after {
        content: '';
        border-radius: 58px;
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: -11px;
        left: -11px;
        width: 106.38%;
        height: 120.5%;
        border: 5px solid variables.$scanner-accent-color;
    }

    .disabled {
        opacity: .31;
    }
}